

        .texto-simples{
        color: aquamarine;

        }

        #texto-complexo{
            color: rgba(255, 0, 0);
        }

        .texto-translucido{
            color: rgba(0, 255, );

        }

        .back-imagem-unica{
            background-image: url("/imagens/driver.png");
            background-repeat: no-repeat;
        }

        .posicao-especifica{
            background-position: bottom right;
        }
    